# <Center>數據分析期中考解答</Center>

### 資料檔案為某電子商務網站的交易數據, 檔案名稱為Transcations.csv
### 欄位的意義為:
- ### order_id：訂單號碼
- ### buyer_mobile：消費者的手機加密後的數字
- ### product_parent_id：該訂單購買的商品組合
- ### product_id：該訂單購買的商品組合的內容
- ### menu_id：該product_parent_id所屬的分類
- ### menu_name：分類名稱
- ### total：商品售價
- ### crdate：訂單日期

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os, sys, psutil, gc
from datetime import datetime, timedelta
timeStamp = datetime.now().strftime('%Y%m%d-%H-%M')
print (timeStamp)
%matplotlib inline

20190429-15-49

In [2]:
def side_by_side(*objs, **kwds):
    from pandas.io.formats.printing import adjoin
    space = kwds.get('space', 4)
    reprs = [repr(obj).split('\n') for obj in objs]
    print (adjoin(space, *reprs))
    print()
    return

### 設定最後交易日為2016-12-31

In [3]:
TransactionEndingDate = datetime.strptime('2016-12-31', '%Y-%m-%d')
print(TransactionEndingDate)

2016-12-31 00:00:00

### Q1: 將交易數據檔案Transactions.csv讀進TransactionDataDF中

In [4]:
TransactionDataDF = pd.read_csv('./Transactions.csv', encoding = 'UTF-8')

### Q2: 顯示TransactionDataDF的前後各15筆資料

In [5]:
TransactionDataDF.head(15)

,order_id,buyer_mobile,product_parent_id,product_id,menu_id,menu_name,total,crdate
0,2669085,eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJvY2Vyc...,26908,26909,530,口腔清潔,880,2016-10-07 06:53:45.945162
1,2669085,eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJvY2Vyc...,26908,26909,528,清潔保健,880,2016-10-07 06:53:45.945162
2,2669085,eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJvY2Vyc...,26908,26909,224,寵愛毛孩子,880,2016-10-07 06:53:45.945162
3,2669085,eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJvY2Vyc...,26908,26909,57,樂生活愛居家,880,2016-10-07 06:53:45.945162
4,2669085,eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJvY2Vyc...,26908,26909,580,生活智慧王!,880,2016-10-07 06:53:45.945162
5,2669085,eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJvY2Vyc...,26908,26909,554,下殺一折起,880,2016-10-07 06:53:45.945162
6,2669102,eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJvY2Vyc...,34434,34435,530,口腔清潔,999,2016-10-07 07:07:40.814496
7,2669102,eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJvY2Vyc...,34434,34435,528,清潔保健,999,2016-10-07 07:07:40.814496
8,2669110,eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJvY2Vyc...,29109,29111,559,纖體小物,1080,2016-10-07 07:07:58.189516
9,2669110,eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJvY2Vyc...,29109,29111,550,愛美小物,1080,2016-10-07 07:07:58.189516
10,2669104,eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJvY2Vyc...,34434,34773,530,口腔清潔,599,2016-10-07 07:07:46.920565
11,2669104,eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJvY2Vyc...,34434,34773,528,清潔保健,599,2016-10-07 07:07:46.920565
12,2669050,eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJvY2Vyc...,34230,34232,624,柔順護髮,999,2016-10-07 06:40:22.127489
13,2669050,eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJvY2Vyc...,34230,34232,537,時尚髮品保養,999,2016-10-07 06:40:22.127489
14,2669103,eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJvY2Vyc...,30879,30882,158,美體對策食品,1800,2016-10-07 07:07:42.592418

In [6]:
TransactionDataDF.tail(15)

,order_id,buyer_mobile,product_parent_id,product_id,menu_id,menu_name,total,crdate
521275,3007582,eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJvY2Vyc...,36761,36762,521,居家/休閒用品,990,2016-12-31 16:16:24.552128
521276,3007582,eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJvY2Vyc...,36761,36762,84,閃亮亮清潔用品,990,2016-12-31 16:16:24.552128
521277,3007582,eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJvY2Vyc...,36761,36762,57,樂生活愛居家,990,2016-12-31 16:16:24.552128
521278,3008089,eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJvY2Vyc...,36761,36762,521,居家/休閒用品,990,2016-12-31 18:35:29.046024
521279,3008089,eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJvY2Vyc...,36761,36762,84,閃亮亮清潔用品,990,2016-12-31 18:35:29.046024
521280,3008089,eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJvY2Vyc...,36761,36762,57,樂生活愛居家,990,2016-12-31 18:35:29.046024
521281,3008095,eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJvY2Vyc...,36761,36762,521,居家/休閒用品,990,2016-12-31 18:36:50.184493
521282,3008095,eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJvY2Vyc...,36761,36762,84,閃亮亮清潔用品,990,2016-12-31 18:36:50.184493
521283,3008095,eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJvY2Vyc...,36761,36762,57,樂生活愛居家,990,2016-12-31 18:36:50.184493
521284,3007875,eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJvY2Vyc...,36761,36762,521,居家/休閒用品,990,2016-12-31 17:30:35.248815
521285,3007875,eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJvY2Vyc...,36761,36762,84,閃亮亮清潔用品,990,2016-12-31 17:30:35.248815
521286,3007875,eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJvY2Vyc...,36761,36762,57,樂生活愛居家,990,2016-12-31 17:30:35.248815
521287,3008922,eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJvY2Vyc...,25216,25217,624,柔順護髮,899,2016-12-31 23:50:55.523977
521288,3008922,eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJvY2Vyc...,25216,25217,538,飄逸洗髮,899,2016-12-31 23:50:55.523977
521289,3008922,eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJvY2Vyc...,25216,25217,537,時尚髮品保養,899,2016-12-31 23:50:55.523977

### Q3: 顯示TransactionDataDF中欄位的缺值數量

In [7]:
side_by_side(TransactionDataDF.isnull().sum(), TransactionDataDF.count())

order_id              0    order_id             521290
buyer_mobile         17    buyer_mobile         521273
product_parent_id     0    product_parent_id    521290
product_id            0    product_id           521290
menu_id               0    menu_id              521290
menu_name             0    menu_name            521290
total                 0    total                521290
crdate                0    crdate               521290
dtype: int64               dtype: int64

### Q4: 顯示TransactionDataDF中的不重複的消費者人數

In [8]:
TransactionDataDF.buyer_mobile.nunique()

131736

### Q5: 將TransactionDataDF中有缺值的,以及product_id是0的記錄刪除後, 顯示
- ### 1. Total number of unique buyer_mobile
- ### 2. Total number of unique order_id
- ### 3. Total number of unique product_parent_id
- ### 4. Total number of unique product_id
- ### 5. Total number of unique menu_id

In [9]:
TransactionDataDF.dropna(inplace=True)
TransactionDataDF = TransactionDataDF[TransactionDataDF.product_id != 0]
TransactionDataDF.nunique()

order_id             166008
buyer_mobile         131736
product_parent_id       728
product_id             1679
menu_id                 143
menu_name               141
total                   375
crdate               166008
dtype: int64

### Q6: 以序號(連續數字)替換buyer_mobile的內容

In [10]:
TransactionDataDF['buyer_mobile'] = TransactionDataDF['buyer_mobile'].astype('category')
cat_columns = TransactionDataDF.select_dtypes(['category']).columns
TransactionDataDF[cat_columns] = TransactionDataDF[cat_columns].apply(lambda x: x.cat.codes+1000)
side_by_side(TransactionDataDF.buyer_mobile.head(15), TransactionDataDF.buyer_mobile.tail(15))

0     106651                        521275    77547
1     106651                        521276    77547
2     106651                        521277    77547
3     106651                        521278    73137
4     106651                        521279    73137
5     106651                        521280    73137
6     112613                        521281    71774
7     112613                        521282    71774
8      68279                        521283    71774
9      68279                        521284    14502
10     69492                        521285    14502
11     69492                        521286    14502
12     11231                        521287    55985
13     11231                        521288    55985
14    103456                        521289    55985
Name: buyer_mobile, dtype: int32    Name: buyer_mobile, dtype: int32

### TransactionDataDF的目前欄位應為['order_id', 'buyer_mobile', 'product_parent_id', 'product_id', 'menu_id', 'menu_name', 'total', 'crdate'] dtype='object')

In [11]:
TransactionDataDF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 521273 entries, 0 to 521289
Data columns (total 8 columns):
order_id             521273 non-null int64
buyer_mobile         521273 non-null int32
product_parent_id    521273 non-null int64
product_id           521273 non-null int64
menu_id              521273 non-null int64
menu_name            521273 non-null object
total                521273 non-null int64
crdate               521273 non-null object
dtypes: int32(1), int64(5), object(2)
memory usage: 33.8+ MB

### Q7: 將crdate字符串類型轉換為Datetime類型

In [12]:
TransactionDataDF['crdate'] = TransactionDataDF['crdate'].astype('datetime64[ns]')

In [13]:
TransactionDataDF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 521273 entries, 0 to 521289
Data columns (total 8 columns):
order_id             521273 non-null int64
buyer_mobile         521273 non-null int32
product_parent_id    521273 non-null int64
product_id           521273 non-null int64
menu_id              521273 non-null int64
menu_name            521273 non-null object
total                521273 non-null int64
crdate               521273 non-null datetime64[ns]
dtypes: datetime64[ns](1), int32(1), int64(5), object(1)
memory usage: 33.8+ MB

### Q8: 計算每位消費者最後一次消費的日期距離最後交易日(2016-12-31)的天數(Recency), 例如某消費者最後一次消費日是2016-12-28 14:40:43.350772則答案為2日), 經計算後產生一個名為RecencyDF的DataFrame, 其欄位為'buyer_mobile', 'Latest_Purchase_Date'以及'Recency'

In [14]:
RecencyDF = TransactionDataDF.groupby(['buyer_mobile'])['crdate'].max().reset_index()
RecencyDF.columns = ['buyer_mobile', 'Latest_Purchase_Date']
RecencyDF['Recency'] = ((TransactionEndingDate - RecencyDF['Latest_Purchase_Date'])/np.timedelta64(1, 'D')).astype(int)
RecencyDF[RecencyDF.buyer_mobile == 1035]

    buyer_mobile       Latest_Purchase_Date  Recency
35          1035 2016-12-28 14:40:43.350772        2

### Q9: 計算每位消費者共消費次數(PurchaseTimes)

In [15]:
buyerFreq = TransactionDataDF[['buyer_mobile', 'order_id']].groupby("buyer_mobile").count().reset_index()
buyerFreq.columns=['buyer_mobile', 'Frequency']
buyerFreq[buyerFreq.buyer_mobile == 1035]

    buyer_mobile  Frequency
35          1035         22

### Q10: 計算每位消費者消費間隔天數的統計值, 統計值含平均值(MeanTurnover), 標準差(StdTurnover),最小值(MinTurnover),最大值(MaxTurnover), 產生一一個名為FrequencyStatisticsDF的DataFrame, 其欄位為['buyer_mobile', 'MeanTurnover', 'StdTurnover', 'MinTurnover', 'MaxTurnover', 'PurchaseTimes']

In [16]:
FrequencyDF = TransactionDataDF.sort_values(by=['buyer_mobile', 'crdate'])
FrequencyDF['TurnoverPeriod'] = FrequencyDF.groupby(['buyer_mobile'])['crdate'].diff()

In [17]:
FrequencyDF[FrequencyDF.buyer_mobile == 1035].head(10)

,order_id,buyer_mobile,product_parent_id,product_id,menu_id,menu_name,total,crdate,TurnoverPeriod
84227,2643582,1035,33833,33834,521,居家/休閒用品,990,2016-10-02 06:47:26.853993,NaT
84228,2643582,1035,33833,33834,57,樂生活愛居家,990,2016-10-02 06:47:26.853993,0 days 00:00:00
97618,2657210,1035,31094,31095,555,保養小物,999,2016-10-05 03:12:56.954995,2 days 20:25:30.101002
97619,2657210,1035,31094,31095,550,愛美小物,999,2016-10-05 03:12:56.954995,0 days 00:00:00
8744,2678593,1035,34294,34295,627,滋潤保養面霜,999,2016-10-08 09:58:24.671149,3 days 06:45:27.716154
8745,2678593,1035,34294,34295,52,臉部保養,999,2016-10-08 09:58:24.671149,0 days 00:00:00
8815,2678621,1035,34294,34295,627,滋潤保養面霜,999,2016-10-08 10:00:42.651796,0 days 00:02:17.980647
8816,2678621,1035,34294,34295,52,臉部保養,999,2016-10-08 10:00:42.651796,0 days 00:00:00
227762,2797987,1035,33488,33489,555,保養小物,990,2016-11-03 13:29:39.744791,26 days 03:28:57.092995
227763,2797987,1035,33488,33489,550,愛美小物,990,2016-11-03 13:29:39.744791,0 days 00:00:00

### 轉換成天數

In [18]:
FrequencyDF.dropna(inplace=True)
FrequencyDF['TurnoverPeriod'] = (FrequencyDF['TurnoverPeriod']/np.timedelta64(1, 'D')).astype(int)
FrequencyDF = FrequencyDF[FrequencyDF.TurnoverPeriod != 0]
# buyer_mobile Examples: 1035, 1002
FrequencyDF[FrequencyDF.buyer_mobile == 1035].head()

,order_id,buyer_mobile,product_parent_id,product_id,menu_id,menu_name,total,crdate,TurnoverPeriod
97618,2657210,1035,31094,31095,555,保養小物,999,2016-10-05 03:12:56.954995,2
8744,2678593,1035,34294,34295,627,滋潤保養面霜,999,2016-10-08 09:58:24.671149,3
227762,2797987,1035,33488,33489,555,保養小物,990,2016-11-03 13:29:39.744791,26
281763,2837804,1035,34776,34779,627,滋潤保養面霜,1485,2016-11-13 22:19:21.823884,10
504038,2994553,1035,36213,36214,555,保養小物,999,2016-12-28 14:40:43.350772,44

In [19]:
FrequencyStatisticsDF = FrequencyDF.groupby('buyer_mobile')['TurnoverPeriod'].aggregate([np.mean, np.std, 
                                                                                         np.min, np.max])

In [20]:
FrequencyStatisticsDF.reset_index(inplace=True)
FrequencyStatisticsDF.columns = ['buyer_mobile', 'MeanTurnover', 'StdTurnover', 'MinTurnover','MaxTurnover']
FrequencyStatisticsDF[FrequencyStatisticsDF.buyer_mobile == 1035].head()

   buyer_mobile  MeanTurnover  StdTurnover  MinTurnover  MaxTurnover
7          1035          17.0    17.888544            2           44

### Q11: 計算每位消費者共消費金額(TotalSpending)

In [21]:
MonetaryStatisticsDF = TransactionDataDF.groupby(['buyer_mobile'])['total'].aggregate([np.mean, np.std, np.min, 
                                                                                       np.max, np.sum]).reset_index()
MonetaryStatisticsDF.columns = ['buyer_mobile', 'MeanSpending', 'StdSpending',
                                'MinSpending','MaxSpending', 'TotalSpending']
MonetaryStatisticsDF[MonetaryStatisticsDF.buyer_mobile == 1035].TotalSpending

35    23373
Name: TotalSpending, dtype: int64

### Q12: 計算每位消費者消費金額統計值, 統計值含平均值(MeanSpending), 標準差(StdSpending),最小值(MinSpending),最大值(MaxSpending), 產生一一個名為MonetaryStatisticsDF的DataFrame, 其欄位為['buyer_mobile', 'MeanSpending','StdSpending', 'MinSpending', 'MaxSpending', 'TotalSpending']

In [22]:
MonetaryStatisticsDF.tail()

,buyer_mobile,MeanSpending,StdSpending,MinSpending,MaxSpending,TotalSpending
131731,132731,644.5,364.188977,299,990,6445
131732,132732,1280.0,0.000000,1280,1280,5120
131733,132733,1287.0,271.122666,990,1485,6435
131734,132734,999.0,0.000000,999,999,1998
131735,132735,990.0,0.000000,990,990,4950

### Q13: 使用merge函數將RecencyDF, FrequencyStatisticsDF, MonetaryStatisticsDF整合成為一個DataFrame並命名為RFMsDF

In [23]:
RFMsDF = pd.merge(RecencyDF, buyerFreq, on='buyer_mobile', how='outer')
RFMsDF = pd.merge(RFMsDF, FrequencyStatisticsDF, on='buyer_mobile', how='outer')
RFMsDF = pd.merge(RFMsDF, MonetaryStatisticsDF, on='buyer_mobile', how='outer')

In [24]:
RFMsDF[RFMsDF.buyer_mobile == 1035].T

                                              35
buyer_mobile                                1035
Latest_Purchase_Date  2016-12-28 14:40:43.350772
Recency                                        2
Frequency                                     22
MeanTurnover                                  17
StdTurnover                              17.8885
MinTurnover                                    2
MaxTurnover                                   44
MeanSpending                             1062.41
StdSpending                              171.922
MinSpending                                  990
MaxSpending                                 1485
TotalSpending                              23373

### Q14: RFMsDF中若有缺值,請用適當的值填充

In [25]:
RFMsDF.isnull().sum()

buyer_mobile                 0
Latest_Purchase_Date         0
Recency                      0
Frequency                    0
MeanTurnover            111509
StdTurnover             126802
MinTurnover             111509
MaxTurnover             111509
MeanSpending                 0
StdSpending                  0
MinSpending                  0
MaxSpending                  0
TotalSpending                0
dtype: int64

In [26]:
RFMsDF.MeanTurnover.fillna(-9999, inplace=True)
RFMsDF.MinTurnover.fillna(-9999, inplace=True) # Purchase only once
RFMsDF.MaxTurnover.fillna(-9999, inplace=True)
RFMsDF.StdTurnover.fillna(9999, inplace=True)

In [27]:
RFMsDF.isnull().sum()

buyer_mobile            0
Latest_Purchase_Date    0
Recency                 0
Frequency               0
MeanTurnover            0
StdTurnover             0
MinTurnover             0
MaxTurnover             0
MeanSpending            0
StdSpending             0
MinSpending             0
MaxSpending             0
TotalSpending           0
dtype: int64

### Q15: 將RFMsDF儲存為一壓縮檔並命名為RFMsDF.csv.zip

In [28]:
RFMsDF.to_csv('./RFMsDF.csv.zip', index=False, encoding = 'utf-8', compression="gzip")